<h1>Hawaii</h1>
<p>A site to help your trip to Big Island Hawaii</p>
<p>
  This site will help you prepare your trip to Big Island, Hawaii. Showing you
  the most popular sites of the Big Island down to the weather for day and
  night. It is the largest of all the Hawaiian islands and the perfect
  embodiment of all Hawaii has to offer.The Big Island's stunning beauty is
  surpassed only by her ability to continue expanding thanks to the constant
  flow of molten lava from Mt. Kilauea, which ranks among the world's most
  active volcanoes and may even top the list. If you have any suggestions to
  make this site better fill out suggestion form.
</p>

<br />
<img [src]="photo" class="img-fluid container-fluid" />

<h1>Hawaii</h1>
<p>A site to help your trip to Big Island Hawaii</p>
<p>
  This site will help you prepare your trip to Big Island, Hawaii. Showing you
  the most popular sites of the Big Island down to the weather for day and
  night. It is the largest of all the Hawaiian islands and the perfect
  embodiment of all Hawaii has to offer.The Big Island's stunning beauty is
  surpassed only by her ability to continue expanding thanks to the constant
  flow of molten lava from Mt. Kilauea, which ranks among the world's most
  active volcanoes and may even top the list. If you have any suggestions to
  make this site better fill out out suggestion form.
</p>
